.navbar .navbar-brand
{
    color: #E50914;
    font-weight: bold;
    display: flex;
}

.navbar-nav .nav-item .nav-link
{
    color: #E50914;
}

.body{
    background-color: aliceblue;
}

.collapse navbar-collapse{
    color: #E50914;
    background-color: aliceblue;
}