<!-- <div class="container-fluid">
    <div class="main-container">
        <h1 class="title">WACHUKA MOVIES</h1>
    </div>
    <div class="title">
        <a class="nav-link" routerLink="/movie-list">Películas</a>
        <a class="nav-link" routerLink="/create-movie">Crear Película</a>
        <a class="nav-link" routerLink="/edit-movie">Editar Película</a>
        <a class="nav-link" routerLink="/buscar-usuarios">Buscar Usuarios</a>

        
    </div>
</div> -->


<div class="container-fluid">
    <div class="main-container">
        <h1 class="title">WACHUKA MOVIES</h1>
    </div>
    <div class="title">
        <a class="nav-link" routerLink="/movie-list">Películas</a>
        <a class="nav-link" routerLink="/create-movie">Crear Película</a>
        <a class="nav-link" routerLink="/edit-movie">Editar Película</a>
        <a class="nav-link" routerLink="/buscar-usuarios">Buscar Usuarios</a>
    </div>

    <!-- Sección de estadísticas con gráfico -->
    <div class="statistics-section">
        <h2>Estadísticas</h2>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
</div>
