<!-- Importa la biblioteca principal de Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="padre">
  <div class="main-container">
    <h1 class="title" style="background-color: black; text-align: center;">WACHUKA MOVIES</h1>
    
</div>

  <div class="navbar" id="navbar">
    <div class="card" id="dashboardCard">
      
        <div class="card-body">
            <div class="container-fluid">
                
                <div class="title">
                    <a class="nav-link" style="color:#8b0000" routerLink="/movie-list">Películas</a>
                    <a class="nav-link" style="color:#8b0000" routerLink="/create-movie">Crear Película</a>
                    <a class="nav-link" style="color:#8b0000" routerLink="/edit-movie">Editar Película</a>
                    <a class="nav-link" style="color:#8b0000" routerLink="/buscar-usuarios">CRUD usuarios</a>
                    <a class="nav-link" style="color:#8b0000" routerLink="/obtener-usuarios">Usuarios</a>
                    <a class="nav-link" style="color:#8b0000" routerLink="/main">Cerrar Sesión</a>
                </div>
            </div>
        </div>
        
    </div>

    
</div>


</div>

<div class="body">
  <!-- Título superior -->
  <h1>Super Dashboard</h1>

  <!-- Grid con todos los paneles -->
  

  <!-- Pié de página -->
  <div class='bottom'><a target='_blank' href=''>Made with love by Albert Coronado</a></div>
</div>


 